* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.go text eol=lf
*.md text eol=lf
*.txt text eol=lf
Makefile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pyc binary
